body{
padding: 0;
background-image: linear-gradient(to right , blue,red,yellow);
}


.container{
    text-align: center;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    border: 15px solid orange;
}


.boxes{
    text-align: center;
background-color: crimson;
font-size: 140px;
color: white;

}

.boxes:hover{
 background-color: transparent;
 color: black;
 cursor: pointer;

}
